#inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper{
border-radius: 5px;
  max-width: 450px;
  width: 100%;
  background: #fff;
 
  padding: 30px;
  /* border: solid #1935DA 1px; */
  /* box-shadow: 1px 1px 2px rgba(0,0,0,0.125); */
  margin-top: 2%;
}

.label{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
    font-size: 1.09rem;
}

.class-name{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.cancelbtn{
    text-decoration: none;
    padding-bottom: 3%;
}

#cName{
    border: solid black 2px;
   border-radius: 5px;
   height: 40px;
}

.second-inputs{
    display: flex;

}

#semester{
    display: flex;
    flex-direction: column;
    
}

#semester select{
    border: solid 2px #1935DA;
    
}

#sem{
   border: solid black 2px;
   border-radius: 5px;
   height: 40px;
}

#yr{
    border: solid black 2px;
   border-radius: 5px;
   height: 40px;
}


#year{
    display: flex;
    flex-direction: column;
}

.row{
    margin-bottom: 5%;
}

#createbtn{
  background-color: #1935DA;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 45px;
  width: 192px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1%;
}

.functions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.class-name textarea{
    border: solid 2px #1935DA;
}

#returnbtn{
background-color: #fff;
  color: #1935DA;
  border: solid 2px #fff;
  border-radius: 5px;
  height: 45px;
  width: 192px;
  cursor: pointer;
}

#deletebtn{
    background-color:rgb(240, 0, 0);
  color: #fff;
  border: solid 2px #fff;
  border-radius: 5px;
  height: 45px;
  width: 192px;
  font-weight: bold;
  cursor: pointer;
}

#title-gname{
    font-size: 1.2rem;
    text-align: center;
}