@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#sys-name{
    margin-top: 10px;
    font-size: 1.48rem;
    font-family: "Poppins", sans-serif;
}

.system-name button{
    border-radius: 50px; 
    border: none;
}


.system-name{
    margin-right: 100px;
    font-size: 1.48rem;
    font-family: "Poppins", sans-serif;

}

.system-name label{
    margin-right: 10px;
    font-size: 1.48rem;
    font-family: "Poppins", sans-serif;
}




/* Style the top section */
.top-section {
    display: flex;
    align-items: center;
    padding: 10px 70px;
    background-color: white;
    
}


/* Style the logo */
.logo {
    max-width: 100px; /* Adjust the max-width as needed */
    margin-right: 10px; /* Add spacing between the logo and text */
}

/* Style the university name */

.top-section label{
    opacity: 0.8;
    color: black;
    font-size: 1.44rem;
   
}
.university-name {
    font-size: 1.44rem;
    color: black;
}



.system-name button:hover{
   cursor: pointer;
}




.navi{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 8%;
    padding-right: 8%;
    align-items: center;
    background-color: #1935DA;
    
}

#selected{
    background-color: #fff;
    color: black;
}
.navi ul{
    display: flex;
    list-style: none;
    
}

.navbar{
    background-color: #1935DA;
}

.nav-item{
   margin-left: 9px;
}

.nav-item a{
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
.navi ul li a{
    text-decoration: none;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 16px;
    transition: all .5s ease;
}
.navi ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px white;
}

#right-nav{
    padding-right: 5%;
}

#left-nav{
    padding-left: 5%;

}

#navi{
    display: flex;
    justify-content: space-between;
}

#title{
    font-size: 1.35rem;
}

#top{
    margin-left: 7%;
}

#create{
    text-decoration: none;
    border: solid #1935DA 1px;
    padding: 10px 15px;
    border-radius: 5px;
}

#create-section{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

#output{

    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#classes{
    margin-top: 1%;
}

.box{
    padding-top:  11%;
    align-self: center;
    width: 250px;
    text-decoration: none;
    margin-top: 2%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #1935DA 2px;
    border-radius: 5px;
}

.container{
    
    min-height: 100vh;
    display: flex;
    
    

}



.content{
    display: flex;
    width: 100%;
    min-height: 100vh;
}




#side-bar{
    min-width: 23%;
    max-width: 23%;
    transition: all 0.3s ease-in-out;
    border-right: solid #1935DA 1px;
    padding-top: 3.5%;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

li{
    list-style: none;
}

.side-bar{
    font-family: "Poppins", sans-serif;
    color: #1935DA;
   padding-top: 3.5%;
   border-right: solid #1935DA 1px;
   min-width: 23%;
   max-width: 23%;
   transition: all 0.2s;
}

#date-search{
    background-color: #1935DA;
    color: #fff;
    border: none;
    padding: 3px 10px;
    height: 30px;
    width: 95px;
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 10px;
}

#date-search:hover{
    cursor: pointer;
}

.range{
    padding-top: 10px;
    padding-left: 20%;
    padding-bottom: 10px;
}

.range input{
    width: 70px;
    height: 25px;
    border: solid #1935DA 1px;
    outline: none;
    /* padding-left: 20%; */
    color: #1935DA;
    
}



.side-bar .range input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove number input arrows in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


 .side-bar hr{
    border: solid #1935DA 1px;
    opacity: 0.5;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.filter{
    
}


 .filter ul{
    margin-left: 10%;
    list-style: none;
}





.filter ul li button:hover{
   cursor: pointer;
}

#range-label{
    margin-left: 20%;
    color: #1935DA;
}

#begin{ 
    opacity: 0.9;
    color: #1935DA;
    border: #1935DA solid 2px;
    outline: #1935DA;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;  
 }

 #end{ 
    opacity: 0.9;
    color: #1935DA;
    border: #1935DA solid 2px;
    outline: #1935DA;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin-left: 5%;
 }

.filter ul li{
    margin-bottom: 10px;
}

.search-section{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.search-bar{ 
    margin-top: 40px; 
    height: 70px;
    width: 820px;
    display: flex;
    align-items: center;
    border: solid #1935DA 2px;
    border-radius: 10px;
    padding: 10px 20px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 7px 5px;
    font-size: 20px;
    color: #1935DA;
}

::placeholder{
    color: #1935DA;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: none;
}

.search-bar button i{
    width: 25px;
    color: #1935DA;
}

.search-result{
    margin-top: 50px;
    font-family: "Poppins", sans-serif; 
    
}

.search-result ul{
    list-style: none;
}

.search-result ul li a{
    text-decoration: none; 
    color: #1935DA;
}

.search-result ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.search-result ul li a p{
    margin-top: 10px;
}

.search-result ul li a label:hover{
    cursor: pointer;
}


@media only screen and (max-width: 1268px) {

    
    .side-bar input{
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #date-search{
        margin-left: 8px;
    }

    #end{
        margin-left: 10px;
        color: #1935DA;
    }

    .search-bar {
        flex-direction: column;
        max-width: none;
        margin-right: 380px;
        width: 700px;
    }

    .search-bar input {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-bar button i{
        width: 100%;
        margin-left: 430px;
        color: #fff;
    }    

    #date-search,   
    .side-bar .range,
    .search-bar {
        
        flex-direction: column;
    }
}


@media only screen and (max-width: 968px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .top-section {
        flex-direction: column;
        padding: 10px;
        max-width: none;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .system-name {
        margin-right: 0;
        font-size: 1.2rem;
    }

    .navi {
        flex-direction: column;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    .navi ul {
        flex-direction: column;
    }

    .navi ul li {
        padding: 10px 0;
        font-size: 1rem;
    }

    .navi ul li a {
        padding: 10px 15px;
    }

    .search-bar {
        flex-direction: column;
        max-width: none;
        margin-right: 150px;
        width: 600px;
    }

    .search-bar input {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-bar button i{
        width: 100%;
        margin-left: 430px;
        color: #fff;
    }

    .side-bar {
        flex-direction: column;
        
    }

    #date-search,   
    .side-bar .range,
    .search-bar {
        
        flex-direction: column;
    }

    .search-bar {
        max-width: 400px;
    }
    .navs {
        width: 11%;
       
      }
       
       
      .logout {
        font-size: 15px;
       
          position: relative;
          font-weight:600 ;
        right: -18px;
        bottom: -6px;
        overflow: hidden;
        letter-spacing: 3px;
        opacity: 0;
        transition: opacity .45s;
        -webkit-transition: opacity .35s;
        color: black;
      }

      #logout{
        padding: 10px 20px;
        /* background-color: red; */
        color: #fff;
        border: 0;
        border-radius: 10px;
        font-weight: bold;
    }
    
    #logout:hover{
       cursor: pointer;
    }    
       
      .buttons {
          text-decoration: none;
          float: right;
        padding: 20px;
        margin: 15px;
        color: white;
        width: 80px;
       
        transition: width .35s;
        -webkit-transition: width .35s;
        overflow: hidden
      }
       
      a:hover {
        width: 80%;
      }
       
      a:hover .logout{
        opacity: .9;
      }
       
      a {
        text-decoration: none;
      }
}

@media(max-width: 757px){
   
}


